:root {
    --primary-color: ;
    --secondary-color: ;
    --bg-color: ;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

body{
    color: #212529;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

.fa-address-card {
    color: #46eef8;
}

/* header */
header {
    height: 50vh;
}

.header-content-section::before {
    content: '';
    background: url('../img/lagos-culture-img.jpg') no-repeat
    center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 50vh;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: white;
    padding: 1rem;
}

nav p {
    text-transform: uppercase;
    text-shadow: aqua;
    font-weight: 600;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 0.7rem;
    color: rgba(0,0,0,0.5);
}

nav ul li a.current {
    color: rgb(0,0,0);
} 

nav ul li a:hover {
    color: rgb(0,0,0);
}

#nav_label_search label {
    position: absolute;
}

#nav_label_search input {
    padding: 4px 8px 4px 32px;
}

#nav_label_search label .fa-search:before {
    content: "\f002";
    padding-left: 0.8rem;
}

header .header-content-section {
    margin: 4rem 0;
    padding-left: 2rem;
}

.header-content-section h2 {
    text-transform: uppercase;
    color: brown;
    text-shadow: 4px 4px 4px #000;
    letter-spacing: 0.6rem;
    font-weight: bold;
}

.header-content-section h1 {
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(90, 82, 82, 0.5);
    margin-bottom: 0.8rem;
    font-size: 4.5rem;
    color: #fff;
}

.fa-user {
    color: #46eef8;
}


/* #section-what-footer  */
#section-what-footer {
    background: #e9ecef;
}

#section-what-footer .what-footer-container {
    display: flex;
    width: 1200px;
    padding: 2rem;
    width: 100%;
}

#section-what-footer .what-footer-container > div {
    padding: 2rem;
}

.what-footer-container .section-footer-link-details h1 {
    color: #334;
    font-size: 2rem;
}

.what-footer-container .section-footer-link-details p,
.what-footer-container .section-footer-link-details > div {
    line-height: 2.0;
    color: #868e96;
}

.section-footer-link-details > div a {
    color: #868e96;
}

.section-footer-link-details > div a:hover {
    color: #334;
}

.what-footer-container .footer-links h1 {
    color: #334;
}

.what-footer-container .footer-links ul li a {
    color: #868e96;
}

.what-footer-container .footer-links ul li a:hover {
    color: #334;
}

.what-footer-container .footer-links-2 h1 {
    color: #334;
}

.what-footer-container .footer-links-2 ul li a {
    color: #868e96;
}

.what-footer-container .footer-links-2 ul li a:hover {
    color: #334;
}

.what-footer-container .section-offers h1 {
    color: #334;
    font-size: 2.4rem;
}

.what-footer-container .section-offers p {
    color: #868e96;
    margin-bottom: 5px;
}

.what-footer-container #mail {
    padding: 8px;
    font-size: 1.3rem;
    border-radius: 10px;
}


.section-offers button {
    padding: 8px;
}

.section-offers button a {
    color: brown;
}

.section-offers button a:hover {
    opacity: 0.6;
}

footer {
    text-align: center;
    background: #343a40;
    color: #dee2e6;
    padding: 1.5rem;
    font-size: 18px;
    z-index: -1;
}

/* contact-us */
#contact-us{
   margin-top: 4rem;
   margin-bottom: 4rem;
}

#contact-us .container-contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-us .container-contact-us ul {
    display: flex;
    margin-bottom: 1rem;
} 

#contact-us .container-contact-us ul li a {
    color: teal;
    padding: 5px;
}

#contact-us .container-contact-us ul li a:hover {
    color: brown;
}

.text-contact {
    color: brown;
    font-weight: 700;
    text-transform: uppercase;
}

#contact-us .container-contact-us h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
} 

#contact-us .container-contact-us p {
    font-size: 1.3rem;
} 


/* send message */
#message {
    text-align: center;
}

#message form {
    max-width: 400px;
    text-align: center;
    margin: 3rem auto;
}

#message form div {
    margin-bottom: 10px;
}

#message form input[type=text] {
    padding: 10px 9rem 10px 2px;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#message form input[type=text] {
    padding: 10px 9rem 10px 2px;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#message form input[type=button] {
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: teal;
    color: white;
    margin-top: 1rem;
}

#message form .message-text input {
    padding: 10px 9rem 10rem 2px;
    font-size: 18px;
}

@media (min-width: 761px) and (max-width: 1000px) {
    #section-what-footer .what-footer-container {
        padding: 0rem;
        width: 100%;
    }
    
}
