#nav_label_search {
    display: none;
}

/* nav .list-ul {
    display: none;
} */

/*hamburger*/
.side-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(#eacda3,
    	rgba(0, 0, 0),
		#d6ae7b
		);
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 7rem;
    transition: 0.5s;
    display: block;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    display: block;
    font-size: 22px;
    color: #ccc;
    transition: 0.3s;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    left : 22px;
    font-size: 50px;
    margin-left: 50px;
    color: #fff;
}

.btn-close {
    display: block;
}

.ham-click {
    display: block;
}

.header-content-section h1 {
    font-size: 2rem;
}

.form-label input {
    padding: 10px;
}

.header-content-section div {
    position: relative;
    top: 10rem;
    padding: 10px;
    /* left: 10px; */
}

/* main content 1 */
#main-content-1 .section-header-content h1 {
    font-size: 1.8rem;
}

#main-content-1 .section-header-content p {
    padding-top: 3rem;
}


#main-content-1 section {
    display: block;
}

#main-content-1 .section-content-1 {
    padding: 2rem;
}

#main-content-1 div {
    margin: 0 auto;
}


/* section tour guide */
.section-tour-guide-top {
    display: block;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
}
.swiper-container {
    height: 50vh;
    width: 100%;
}

/* section-people-places  */
#section-people-places .container-people-places .para-people {
    font-size: 1rem;
    text-align: center;
}

#section-people-places .container-people-places .headtag-people {
    text-align: center;
}

#section-people-places .section-flex-places {
    display: block;
}

.section-flex-places {
    margin: 0 auto;
}

.star-rating-row {
    display: block;
}

.flexed {
    text-align: center;
}

/* image before footer */
.img-info-container h1 {
    font-size: 1.5rem;
}

.img-info-container a {
    padding: 10px;
    font-size: 14px;
}

.color-img-info {
    font-size: 4rem;
}

#section-what-footer .what-footer-container {
    display: block;
    padding: 0px;
}

.what-footer-container .section-offers p {
    margin-bottom: 1rem;
}

.what-footer-container .section-offers h1 {
    margin-bottom: 5px;
}

.what-footer-container #mail {
    margin-bottom: 5px;
}

/* contact styling */
#about-the-team .container-about-team {
    display: block;
    padding: 2rem;
}

.container-about-team .row-flow {
    margin: 0rem;
    margin-bottom: 2rem;
}

#section-contact-us .bg-contact-us {
    display: block;
    padding: 3rem;
}

.bg-contact-us .flex-contact-us {
    padding-bottom: 0.8rem;
}

.bg-contact-us .flex-contact-us p {
    font-size: 1rem;
}

#section-what-footer .what-footer-container {
    display: block;
    width: 100%;
}

#About-Lagos-Pilot .container-about-us p {
    padding: 2rem;
}

#About-Lagos-Pilot .container-about-us h1 {
    font-size: 3.2rem;
    padding-bottom: 0rem;
}

#contact-us .container-contact-us h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

#contact-us .container-contact-us p {
    font-size: 1rem;
    text-align: center;
}

#message form {
    max-width: 400px;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

/* sign in */
.container-flex .item img{
    display: none;
}

#sign-in .container-flex {
    display: block;
}

.container-flex .item img {
    border-radius: 1rem;
}

.container-sign-in #form-sign-in {
    margin: 0rem auto;
    max-width: 25rem;
    padding: 2rem;
}

.special2 {
    text-align: center;
    padding-left: 2rem;
}