:root {
    --primary-color: ;
    --secondary-color: ;
    --bg-color: ;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

body{
    color: #212529;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

.fa-times {
    color: teal;
}

.fa-times:hover {
    color: rgba(255, 81, 0, 0.829);
}

/* sign in styling */
#sign-in {
    height: 100vh;
}

#sign-in  .container-flex {
    display: flex;
}

.container-flex .item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.container-flex .container-sign-in .flex-head-sign {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.container-sign-in #form-sign-in {
    margin: 4rem auto;
    width: 25rem;
}

#form-sign-in div:nth-child(1) label,
#form-sign-in div:nth-child(2) label {
    display: block;
    margin-top: 1rem;
}

#form-sign-in .button-input {
    margin-top: 1rem;  
}

#form-sign-in .special {
    margin-top: 1rem;
    text-align: right;
    font-size: 14px;
}

#form-sign-in .pass_2 {
    margin-top: 1rem;
}

#form-sign-in div input[type=email],
#form-sign-in div input[type=password],
#form-sign-in div input[type=button] {
    width: 100%;
    padding: 0.6rem 2px;
    border-radius: 5px;
    font-size: 18px;
}

.container-flex .item img {
    border-radius: 1rem;
}

#form-sign-in div input[type=button] {
    color: aliceblue;
    background: teal; 
    cursor: pointer;
}

.special2 {
    text-align: center;
}

@media (min-width: 761px) and (max-width: 1000px) {
    .container-flex .item img{
        border-radius: 1rem;
    }

    .container-sign-in #form-sign-in {
        margin: 0rem auto;
        max-width: 25rem;
        padding: 2rem;
    }

    .container-flex .item img{
        display: none;
    }
    
    #sign-in .container-flex {
        display: block;
    }
    
    .container-flex .item img {
        border-radius: 1rem;
    }
    
    .container-sign-in #form-sign-in {
        margin: 0rem auto;
        max-width: 25rem;
        padding: 2rem;
    }
    
    .special2 {
        text-align: center;
        padding-left: 2rem;
    }
}